@mixin position-lt ($horizontal, $vertical) {
  position: absolute;
  top: $vertical;
  left: $horizontal;
  -webkit-transform: translate(-$horizontal, -$vertical);
          transform: translate(-$horizontal, -$vertical);
}
